header {
    background-color: pink;
    height: 64px;
    text-align: left;
    font-size: 30px;
    text-decoration-color: white;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 15px;
    font-family: goth;
}
.container {
    height: 100vh;
    font-family: "Poiret One", sans-serif;
    overflow: hidden;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: pink;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: bisque; 
    color:black;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: pink;}



body {
    background-color: bisque;
    background-size: cover;
}

.login {
    text-align: left;
    height: 5px;
    font-size: 30px;
    text-decoration-color: white;
}

.shining-border {
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.shining-border:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, transparent 0%, transparent 25%, rgba(255, 255, 255, 0.2) 40%, transparent 50%, transparent 60%, rgba(255, 255, 255, 0.2) 75%, transparent 100%);

    animation: shining 1.5s linear infinite;
}


@keyframes shining {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.shining-border:hover {
    transform: scale(1.1);
}


@keyframes shining {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.submit-button {
    padding: 10px 20px;
    background-color: lightcoral;
    border: none;
    color: black;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}